<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>vue.js</title>
	<style>
		body{  background: #e5e6ea; }
		.wrap { max-width: 800px; margin: 0 auto; box-sizing: border-box; padding: 30px;  background: #fff;}
		.wrap > h1 { margin: 0; color: #353a4e;}
		.each-sec {  display:block; margin: 20px auto; width:100%;box-sizing:border-box; padding: 20px 0; border-bottom: 1px solid #ddd; }
		.each-sec h3 { font-size: 20px; font-weight: bold; color: #42434a;}
		.check-vue-print { margin-top: 25px; }
		.check-vue-print p { font-size: 15px; color:#555;margin: 10px; }
		#app_list ul { list-style:none;}
		.class-binding.on { color: red; font-weight: bold;}
		.buttonClass { width: 300px; box-sizing:border-box; padding:20px; text-align:center; font-size: 18px;color: #4d4f58; border: 1px solid #111;font-weight: bold;}
		.method-direct { margin-top: 20px; }
		.method-direct p { font-size: 20px; }
		.method-direct p span {  font-weight:bold;}
	</style>
	</head>
	<body>
		<div class="wrap">
			<h1>vue.js</h1>
			
			<div class="each-sec">
				<h3>#일회성 디렉티브 v-once</h3>
				<div id="app_once">
					<h1 v-once>{{ title }}</h1> <!-- v-once 프로퍼티가 입력되면, 바인딩 된 태그는 HTML코드로 출력이 된 이후에 어떤 후처리가 있더라도 처음에 출력한 값을 유지시켜준다. -->
					<h2>{{ title }}</h2>
					<p>{{ afterBinding() }}</p>
				</div>
			</div>

			<div class="each-sec">
				<h3>#v-html</h3>
				<div id="app_html">
					<p>{{ aTag }}</p>
					<p v-html="aTag"></p>
				</div>
			</div>

			<div class="each-sec">
				<h3>#vue 이벤트리스너 v-on</h3>
				<div id="app_event">
					<button v-on:click="onClick">클릭</button>
					<button v-on:dblclick="onDoubleClick">더블클릭</button>
					<button v-on:mousedown="onMouseDown" v-on:mouseup="onMouseUp">꾸우우욱</button>
					<input v-on:keyup.enter="pressEnter" v-on:keyup.delete="pressDelete" v-on:keyup.up="pressUp" v-on:keyup.down="pressDown" v-on:keyup.space="pressSpace" placeholder="텍스트를 입력하고 키보드를 조작해보세요">
				</div>
			</div>

			<div class="each-sec">
				<h3>#조건부 렌더링 v-if, v-else</h3>
				<div id="app_if">
					<h3>당신의 지금 상태는?</h3>
					<p v-if="myStatus =='good'">매우 좋아 :)</p>
					<p v-else>좋지 않아 :(</p>
					<p v-show="myStatus=='good'">이도저도 모르겠다~</p>

					<button @click="changeStatus">상태 바꾸기</button>
				</div>
			</div>

			<div class="each-sec">
				<h3>#반복 렌더링 v-for</h3>
				<div id="app_for">
					<h2>내가 공부해야 할 것들</h2>
					<ul>
						<li v-for="(item, i) in studyList" :key="item.object"> {{ (i+1) }}번째 공부: {{ item.object }} (난이도 {{ item.level }}) </li>
					</ul>
				</div>
			</div>

			<div class="each-sec">
				<h3>#감시자 watch </h3>
				<div id="app_watch">
					<h3>캔디 {{ myCandy }} 개</h3>
					<p>{{ desc }}</p>
					<button @click="eatCandy">캔디먹기</button>
				</div>
			</div>
		</div>
		
  	
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
			Vue.config.devtools = true
            var app_once = new Vue({ 
                el: '#app_once',
                data: {
					title: 'current title'
                },
				methods: {
					afterBinding(){
						this.title = 'text will be chage into this message if methods are being active!';
						return this.title;
					}
				},
				beforeCreate (){ //가장 먼저 실행되는 훅. data와 event 등이 아직 세팅되지 않았다.
					console.log("can't use Data, events also this.$el");
				},
				created() { //vue 인스턴스가 생성됐다. data와 events가 활성화되어 접근할 수 있다. 그러나 아직 템플릿, 가상돔과는 마운트 및 렌더링이 진행되지 않았다. 돔에는 접근할 수 없다.
					console.log("can use Data, events! but not yet dom elements this.$el");
				},  
				beforeMount() { //첫 렌더링(출력)이 일어나기 직전 훅이다. 대부분의 경우 사용하지 않는 것이 좋다.
					console.log("this.$el doesn't exist yet, but it will soon!")
				},
				mounted() {//가상돔과 마운팅 되는 단계의 훅. 컴포넌트, 템플릿, 렌더링된 돔에 접근할 수 있다.
					console.log("can use this.$el!") 
					console.log(this.$el.textContent); 
				},
				updated() { //이 훅은 컴포넌트의 데이터가 변하여 재 렌더링이 일어난 후에 실행된다.
					console.log("just updated!")	
				}

            });

            var app_html = new Vue({ 
                el: '#app_html',
                data: {
					aTag: '<a href="www.naver.com">NAVER</a>'
                }
            });

			 var app_event = new Vue({ 
                el: '#app_event',
                data: {
					
                },
				methods: {
					onClick(){
						console.log("you just click the button");
					},
					onDoubleClick(){
						console.log("you just 'DOUBLE' click the button");
					},
					onMouseDown(){
						console.log("you just press down the button");
					},
					onMouseUp(){
						console.log("you just press up the button");
					},
					pressEnter(){
						console.log("ENTER");
					},
					pressSpace(){
						console.log("Space");
					},
					pressUp(){
						console.log("up!");
					},
					pressDown(){
						console.log("down!");
					},
					pressDelete(){
						console.log("delete");
					}
				}
            });
		
            var app_if = new Vue({ 
                el: '#app_if',
                data: {
					myStatus: 'good'
                },
				methods: {
					changeStatus(){
						this.myStatus == 'good' ? this.myStatus = 'bad' : this.myStatus = 'good';
					}
				},
				updated() { //이 훅은 컴포넌트의 데이터가 변하여 재 렌더링이 일어나 후에 실행
					console.log("just updated!")	
				}
            });

			var app_for = new Vue({ 
                el: '#app_for',
                data: {
					studyList: [
						{ object: "Vue.js", level: "★★"},
						{ object: "Node.js", level: "★★★★"},
						{ object: "Python", level: "★★★"},
						{ object: "Three.js", level: "★★★★"}
					] 
                }
            });

			var app_watch = new Vue({ 
				el: '#app_watch',
				data: {
					desc: '캔디가 있습니다~',
					myCandy: 10
				},
				methods:{
					eatCandy(){
						console.log('냠냠');
						this.myCandy--;
					}
				},
				watch: {
					myCandy(newVal, oldVal){
						this.desc = '캔디의 개수가 ' + oldVal + '개에서 ' + newVal +'개가 되었습니다.' 
					}
				}
			});

        </script>
    </body>
</html>
